 #myCarousel img {
     width: 100%;
     height: 60vh;
     filter: blur(0.5px);
     -webkit-filter: blur(0.5px);
 }

 @media(max-width:500px) {
     #myCarousel img {
         width: 100%;
         height: 30vh;
     }
 }

 @media(min-width:800px) {

     body {
         width: 80%;
         margin: auto;
         background-color: #F1F3F4;
     }



     .navbar-nav {
         float: right;
     }

     .zindex100 {
         z-index: 100;
     }

 }

 #myCarousel {
     margin-top: -15px;
 }

 body,
 #myCarousel,
 .services {
     -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 1);
     -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 1);
     box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 1);
 }

 .icon {
     width: 20px;
     margin-bottom: 7px;
 }

 .footer {
     background-color: black;
     color: white;
     text-align: center;
     width: 100%;

 }

 .center {
     text-align: center;
 }

 .service1 {
     padding: 5px;
 }

 .MainIcon {
     width: 200px;
     height: 50px;
     margin-top: -15px;
 }

 .demo {
     color: #f5f09e;
 }

 .bold {
     font-weight: bold;
 }

 .golden {
     color: #f5f09e;
 }

 html,
 body {

     font-family: 'ZCOOL XiaoWei', serif;
 }

 .navbar {
     border-radius: 0px;
 }

 .ServiceImage {
     width: 200px;
     height: 200px;
 }

 .BlackBg {
     background-color: black;
 }

 .WhiteBg {
     background-color: white;
 }

 .ServiceImage:hover {
     padding: 2%;
 }

 .font18 {
     font-size: 18px;
 }

 .black {
     color: black;
 }

 .justify {
     text-align: justify;
 }

 .padding10 {
     padding-right: 10px;
     padding-left: 10px;
 }

 .font16 {
     font-size: 16px;
 }

 .right {
     float: right;
 }

 .padall {
     padding: 10px;

 }

 .FooterNav {
     list-style: none;
     text-align: left;

 }

 .FooterNav li a {
     text-decoration: none;
     color: white;
 }

 .underline {
     text-decoration: underline;
 }

 .socialmedia {
     width: 50px;
     height: 50px;
 }

 .fb-like {
     max-height: 300px;
 }

 html,
 body {
     max-width: 100%;
     overflow-x: hidden;
 }

 .headbg {
     background-image: url('images/about_bg.jpg');
     background-size: cover;

 }

 .margintop {
     margin-top: -20px;
 }

 .headbg h1 {
     font-weight: bold;
     text-align: center;
 }

 .white {
     color: white;
 }

 .htext {
     margin: auto;
     padding: 20px;
 }

 .undecorateli {
     list-style: none;
     text-align: justify;
     padding: 1px;

 }

 .font16 {
     font: 16px;
 }

 .tech {
     height: 100px;
     padding: 5px;
     margin: auto;
 }

 .blue {
     color: #0078FF;
 }

 .marginall {
     margin: 10px;
 }

 .floatright {
     float: right;
 }

 margin-right-10 {
     margin-right: 10px;
 }

 .all50 {
     height: 50px;
     width: 50px;
 }

 .priceimg {
     height: 200px;
     width: 100%;
 }

 .pricediv {
     border: 2px solid coral;
 }

 .green {
     color: green;
 }

 .marginbottom10 {
     margin-bottom: 10px;
 }